* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(20deg, rgba(30, 36, 44, 1), rgba(34, 40, 49, 1));
  color: rgba(238, 238, 238, 1);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(230, 230, 230, 1);
  transition: color 100ms ease-in-out;
}

a:hover {
  color: rgba(255, 87, 34, 1);
}
